<h1>Editing Adherent</h1>

<%= render 'form', adherent: @adherent %>
<br>
<%= link_to 'Détails', @adherent , class:"btn btn-outline-success btn-sm" %> 
<%= link_to 'Retour', adherents_path, class:"btn btn-outline-info btn-sm" %>
